/* Set a fixed width for all tabs */
.tab {
    -fx-pref-width: 150px; /* Set the preferred width for each tab */
}

/* Style for unselected tabs */
.tab {
    -fx-background-color: #020202; /* Unselected tab background color */
    -fx-text-fill: #ffffff;           /* Unselected tab text color */

}

/* Style for the selected tab top */
.tab:selected {
    -fx-background-color: #504f4f; /* Selected tab background color */     /* Selected tab text color */
}

.tab .tab-label {
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/*This is the space to the right of the tabs at the top*/
.tab-header-background {
    -fx-background-color: #7a7777;
}

/*This controls the background of the entire center pane, can only see a sliver under the title bar*/
.center-pane {
    -fx-background-color: #7a7777;
}

.main-border-pane {
    -fx-border-color: #878484; /* Same as original */
    -fx-border-width: 1px;
    -fx-border-style: solid; /* Explicitly define border style */
    -fx-background-color: #2b2b2b; /* Optional: Dark theme background */
}

/* this is the the pane where the buttons are located at the bottom (previous, next, new note, etc) */
.bottom-pane {
    -fx-background-color: grey;
}

/* Optional: Remove focus border from tabs */
.tab-pane:focused > .tab-header-area > .tab:selected {
    -fx-background-color: #2980b9; /* Match this to selected tab color to remove focus border */
}

.bottom-pane {
    -fx-background-color: #F5F6F6FF;
}

.title-pane .title {
    -fx-font-size: 12px;
}

.titledPane > .title {
    -fx-font-size: 10px;
    -fx-background-color: #F5F6F6FF;
    -fx-padding: 0px;
    -fx-padding: 1 0 0 10px; /* top right bottom left */
}

.titledPane > .content {
    -fx-padding: 1;
    -fx-background-color: #F5F6F6FF;
}

.decorative-hbox {
    -fx-background-color: #020202;
    -fx-background-radius: 5;
}

.decorative-hbox .label {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}

.decorative-hbox .label:hover {
    -fx-text-fill: red;
}

.decorative-header-box {
    -fx-background-color: #d6dada;
    -fx-background-radius: 5;
}

.decorative-header-box .label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.decorative-header-box .label:hover {
    -fx-text-fill: red;
}
/* styles.css */
.inner-decorative-hbox {
    -fx-background-color: #efeded;
    -fx-background-radius: 5;
}

/* Make the button transparent */
.invisible-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 4 0 4; /* Remove padding */
}

/* Keep the image fully visible */
.invisible-button .image-view {
    -fx-opacity: 1;
}

/* On hover, show a selection effect */
.invisible-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1); /* Light transparent background on hover */
    -fx-border-radius: 5; /* Optional: rounded corners on hover */
    -fx-cursor: hand; /* Change cursor to pointer */
}

.text-field-error {
    -fx-border-color: red;
    -fx-border-radius: 5px;
}

/*.table-cell:focused, .table-cell:selected {*/
/*    -fx-background-color: lightblue; !* Or any color you prefer *!*/
/*    -fx-text-fill: black; !* Adjust the text color if necessary *!*/
/*}*/


/*.table-row-cell:selected {*/
/*    -fx-background-color: lightblue; !* Background color of selected row *!*/
/*}*/

.table-cell:selected {
    -fx-background-color: #d2efea; /* Background color of selected cell */
    -fx-text-fill: black; /* Text color in the selected cell */
}


.menu-bar {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-color: transparent;     /* Remove any borders */
}

.menu-bar .menu {
    -fx-text-fill: white;              /* Set menu text color to white */
    -fx-background-color: transparent; /* Make menu background transparent */
}

.menu-bar .menu-item {
    -fx-text-fill: white;
}

.menu-bar .menu:hover {
    -fx-background-color: transparent; /* Prevent hover background color */

}

.menu-bar .menu-button {
    -fx-background-color: transparent; /* Make the menu button transparent */
}

/*.menu-bar .menu-item {*/
/*    -fx-background-color: transparent; !* Remove menu item background *!*/
/*    -fx-text-fill: white;              !* Set menu item text color to white *!*/
/*}*/

.menu-bar .menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Slight hover effect for items */
}

.menu-bar .label {
    -fx-fill: white;
}

/*The colon for the DateTime*/
/*.colon-label {*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-size: 16;*/
/*}*/

.custom-close-button {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.custom-close-button:hover {
    -fx-background-color: red; /* Highlight color on hover */
}

.title-bar {
    -fx-background-color: #3a6684;
}

.maximizeButton {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.maximizeButton:hover {
    -fx-background-color: #516d87;
}

.prominent-label {
    -fx-font-size: 16 !important;
    -fx-font-weight: bold;
}

.semi-prominent-label {
    -fx-font-size: 14 !important;
    -fx-font-weight: bold;
}

.prominent-answer {
    -fx-font-size: 16 !important;         /* Ensures font size is 16 */
    -fx-font-weight: bold;     /* Ensures bold font */
    -fx-text-fill: red 16 !important;        /* Sets text color to red */
    -fx-effect: null;          /* Removes any overriding effects */
    -fx-opacity: 1.0;          /* Ensures text is fully visible */
    -fx-label-padding: 0;      /* Avoids padding issues */
}

.range-answer {
    -fx-font-size: 16 !important;
}

/* Change the text color of the Menu labels to white */
.menu-bar .label {
    -fx-text-fill: white;
}

/* Override MenuItem label color in the popup context */
.context-menu .menu-item .label {
    -fx-text-fill: black;
}

.misspelled {
    -fx-fill: red;
    -fx-underline: true;
}

.code-area {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-border-radius: 5; /* Ensure the border follows the rounded corners */
    -fx-border-color: #30363d; /* Set the border color */
    -fx-border-width: 1px; /* Set the border width */
    -fx-border-style: solid; /* Set the border style */
    -fx-background-color: #0d1117; /* Set the background color (not in light) */
}

.code-area-single {
    -fx-font-size: 16px;
    -fx-border-radius: 5; /* Ensure the border follows the rounded corners */
    -fx-border-color: #30363d; /* Set the border color */
    -fx-border-width: 1px; /* Set the border width */
    -fx-border-style: solid; /* Set the border style */
    -fx-padding: 6;
    -fx-background-color: #0d1117; /* Set the background color (not in light) */
}

.code-area .text {
    -fx-fill: #c9d1d9; /* Use -fx-fill for RichTextFX text nodes */
}
.code-area-single .text {
    -fx-fill: #c9d1d9;
}

.search-dialogue {
    -fx-background-color: #efeded;
}


/* Added to get rid of Labels turning red when you hover over them */
.label:hover {
    -fx-text-fill: inherit !important;
}

/*not used in light.css*/
.base-vbox {
    -fx-background-color: #504f4f;
}